@import "tailwindcss";
.hero{
  width: 400px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
 background-color: blueviolet;
 margin: 20px;
 border-radius: 10px;
 justify-content: space-evenly;
 justify-self:center;
  /* Default background color */
}
button{
padding: 5px; 
border-radius: 5px;
border: none;
cursor: pointer;

}